<app-navbar></app-navbar> 
<div class="container" >
    <router-outlet></router-outlet>
</div>

<div class="row">
    <!-- 
    <div lass="row">
        <img src="../assets/images/test.jpeg" class="img-fluid" alt="Responsive image">
    </div>
    -->
    <div class="col-md-3 push-md-9">.col-md-9 .push-md-3</div>
    <div class="col-md-8 pull-md-2">
            <br>
            <h1>Corazón triatleta</h1>
            <p>En corazón triatleta somos un grupo de amigos que creemos que </p>
            <p>No importa quién eres</p>
            <p>No importa que edad tienes</p>
            <p>No importa tu religión </p>
            <p>Lo único que importa eres Tú mismo</p>
            <br>
            <p>
                    El triatlón es un deporte muy padre, donde no solo nadas, andas en bici y corres, también tienes que cuidar lo que comes, las horas duermes, los días de descanso.
            </p>
            <p><i>"La felicidad se alcanza cuando lo que uno piensa, lo que uno dice y lo que uno hace están en armonía”</i> Mahatma Gandhi</p>

            <h2>Al entrenar obtienes mucho, ganas</h2>
            <p>Salud</p>
            <p>Seguridad</p>
            <p>Concentración</p>
            <p>Disciplina</p> 
    </div>
</div>