<app-navbar></app-navbar> 
<div class="container" >
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            Contact:<a href="hello@corazontriatleta.com.mx>">hello@corazontriatleta.com.mx</a> - &copy; Copyright 2018.    
        </div>
    </div>
</footer>

<!--
<div class="row">
    <div lass="row">
        <img src="../assets/images/test.jpeg" class="img-fluid" alt="Responsive image">
    </div>
        <div class="col-md-3 push-md-9">.col-md-9 .push-md-3</div>
        <div class="col-md-8 pull-md-2">
           
            <br>
            <h1>7 Horrible Ways to Lead a Team (and the 1 Mistake Everyone Makes)</h1>
            <p>Leadership is not, <i>“Hey, you, go do this thing for me.”</i></p>

            <p>When we think about leadership, we tend to think in terms of hierarchy — those at <i>“the top”</i> are considered <i>“the leaders”</i> and those at the bottom are considered <i>“the followers.”</i></p>
                
            <p>The problem with this sort of perspective is that, in all honesty, just because you hold a formal position on the ladder does not necessarily mean you are a <i>“leader.”</i> However, lots and lots of people wear their title and their badge of honor proudly — while at the same time ignoring the fact that they are, in fact, horrible leaders.</p>
        
            <p>Don’t fall into the trap of doing any of the following, simply because you have a position of power — especially this first one:</p>
                
            <h3>1. You expect others to follow rules that you yourself do not follow.</h3>
                This is, bar none, the most common mistake in leadership.
                
                <p>You cannot, and should not expect others to follow rules, codes, processes, and all the rest if you cannot follow them yourself.</p>
                
                <p>If you’re not showing up on time, don’t expect others to as well. If you aren’t diligent and organized, don’t expect those beneath you to somehow cultivate better habits. When you are a leader, you do not realize how much of an influence you have on your team — even down to the smallest habit.</p>
                
                <p>You are the leader for a reason.</p>
                <p>Everything you do must have purpose, so that those who look to you for guidance will do everything with purpose as well.</p>
                
                <h3>2. You do not keep your word.</h3>
                <p>The fastest way to lose respect (and earn resentment) as a leader is to say you’re going to do something and then not do it.</p>
                
                <p>First and foremost (going back to #1 here), it’s because it encourages a very bad habit in those around you — <i>“If he/she can slack off, so can I.”</i></p>
                
                <p>As a leader, it is so crucial that you do the things you say you are going to do. And if you cannot do them, you need to communicate that openly to your team in advance. For those looking to rise and become leaders, this is equally important advice.</p>
                
                <p>If you want to climb the ranks, this is one of the most effective ways to do it.</p>
                <p>Keep your word.</p>
                
                <p>That’s it.</p>
                
                <p>Keep your word and people will soon learn that you can be trusted — they can count on you, no matter what. And that in itself will propel you to where you want to go.</p>
                
                <h3>3. You do not (genuinely) admit when you are wrong.</h3>
                <p>Some <i>“leaders”</i> believe that admitting when they’re wrong is a sign of weakness.</p>
                
                <p>It’s not.</p>
                
                <p>In fact, being wrong or having made a mistake and yet being incapable of owning up to it reveals an even bigger weakness — and makes your team question whether or not they can trust you.</p>
                
                <p>If you make a mistake, or were incorrect about something, just say so.</p>
                <p>This will establish trust and an even playing field with you and your team, showing them that you embody the same traits you expect of them — a humility to be able to step back and take accountability.</p>
                
                <h3>4. You make promises you cannot keep.</h3>
                <p>This is a rabbit hole of disaster.</p>
                
                <p>There is no worse habit as a leader than making promises you know you can’t keep. All this does is welcome in feelings of being let down. And the next time you say you’re going to do something for someone, they will not believe you — and even worse, they will become angry at you for thinking you can fool them again and again.</p>
                
                <p>Where #2 is about following through with what you say you’re going to do on your end, #4 here is about keeping promises that you make to someone else.</p>
                
                <h3>5. You want to be the star.</h3>
                <p>As a leader, it’s your job to inspire, guide, direct, teach, motivate, and ultimately help others succeed.</p>
                
                <p>It’s not to steal the spotlight.</p>
                
                <p>The greatest leaders are the ones who, as Steve Jobs so eloquently put it, <i>“play the orchestra.”</i></p>
                
                <p>Fantastic leaders know how to step back and let others shine.</p>
                <p>They know how to put others in positions to succeed themselves — which benefits the whole orchestra.</p>
                
                <p>owever, as long as you want to be the star, with the spotlight on you and no one else, you will squeeze the talent around you and keep it from ever unfolding.</p>
                
                <h3>6. You criticize others but cannot take criticism yourself.</h3>
                <p>Healthy criticism is how teams members push each other to improve and get better — iron sharpens iron.</p>
                
                <p>Harsh criticism is what instills insecurity, fear, and an unwillingness to take chances. If your style of leadership is healthy and positive, expect others to do the same with you — which means you too will continue growing and improving.</p>
                
                <p>But if your style of leadership is harsh, then expect the same to come back to you — or worse, cause your entire team to go silent.</p>
                
                <h3>7. You believe your way is the right (and only) way.</h3>
                <p>And finally, the oh-so-debated topic of what is <i>“the right way”</i> of doing something.</p>
                
                <p>The truth is, there are very few things that have just one single <i>“right”</i> way of doing them. So much of life is subjective, and that goes for the work we do as well.</p>
                
                <p><i>“Creative”</i> to one person might be <i>“boring”</i> to another.</p>
                <p><i>“Clean and sleek”</i> to one is <i>“dull and lackluster”</i> to another.</p>
                <p>If you are a leader looking to build and scale your team, it is important to learn and realize that your way is not necessarily <i>“the right way.”</i> It may be <i>“one of the”</i> right ways, but it is not the <i>“end all.”</i></p>
                
                <p>It’s important that you acknowledge this; otherwise, you will cultivate a team of people who aren’t searching for the best solution to the problem, but rather the best solution to appeal to your own unique subjective definition of what is <i>“right.”</i></p>
                
                

        </div>
        <div class="col-md-1 pull-md-1"></div>
</div>
-->